/*Fonts*/
@font-face {
    src: url(../font/Nunito-SemiBold.ttf);
    font-family: Nunito-SemiBold;
}
@font-face {
    src: url(../font/OpenSans-Regular.ttf);
    font-family: Openssans;
}

* {
    box-sizing: border-box;
}
.navbar{
    font-family: Nunito-SemiBold !important;
}
.logo{
    font-size: 27px;
}
.toolbar{
    font-family: Openssans !important;
}
.md .tabbar a.link, .md .tabbar a.tab-link, .md .tabbar-labels a.link, .md .tabbar-labels a.tab-link{
    text-transform: none !important;
}
.tab-link{
    color: #333 !important;
}
.tab-link-active{
    font-weight: bold !important;
    color: #2cd048 !important;
    font-size: 18px !Important;
}





.tutorialicon {
  font-size: 250px;
  line-height: 170px;
}

.tutorial-close-btn {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  color: #0da6ec;
}

.welcomescreen-container .welcomescreen-text a{
  color: #fff;
  text-decoration: underline;
}

.tutorial-close-btn {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  color: #0da6ec !important;
  text-decoration: none !important;
}


